<footer class="footer">
	<div class="footer__container container">
		<div class="footer__inner">
			<ul class="nav-menu list-reset">
				<li class="nav-menu__item">
					<a href="#" class="nav-menu__link">
						<svg width="20" height="20">
							<use href="./assets/img/svg/sprite.svg#home"></use>
						</svg>
						<span>Объявления</span>
					</a>
				</li>

				<li class="nav-menu__item">
					<a href="#" class="nav-menu__link">
						<svg width="20" height="20">
							<use href="./assets/img/svg/sprite.svg#orders"></use>
						</svg>
						<span>Заказы</span>
					</a>
				</li>

				<li class="nav-menu__item">
					<a href="#" class="nav-menu__link">
						<svg width="20" height="20">
							<use href="./assets/img/svg/sprite.svg#add"></use>
						</svg>
						<span>Добавить</span>
					</a>
				</li>

				<li class="nav-menu__item">
					<a href="#" class="nav-menu__link">
						<svg width="20" height="20">
							<use href="./assets/img/svg/sprite.svg#user"></use>
						</svg>
						<span>Профиль</span>
					</a>
				</li>

				<li class="nav-menu__item">
					<a href="#" class="nav-menu__link">
						<svg width="20" height="20">
							<use href="./assets/img/svg/sprite.svg#help"></use>
						</svg>
						<span>Помощь</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
