<header class="header">
	<div class="container">
		<div class="header__inner">
			<a href="#" class="logo">
				<img
					width="24"
					height="30"
					src="./assets/img/svg/logo.svg"
					alt="logo" />
			</a>

			<span class="header__title">Объявления</span>

			<div class="header__actions">
				<button class="header__filter-btn btn-reset" data-trigger="filter">
					<svg width="24" height="24">
						<use href="./assets/img/svg/sprite.svg#filter"></use>
					</svg>
				</button>

				<button class="header__notice-btn btn-reset relative">
					<svg width="24" height="24">
						<use href="./assets/img/svg/sprite.svg#notice"></use>
					</svg>
					<span class="counter">2</span>
				</button>
			</div>
		</div>
	</div>
</header>
