.checkbox-group {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.checkbox {
	position: relative;

	display: inline-flex;
	user-select: none;
	gap: 5px;

	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding: 8px 10px;
	background-color: #fff;

	&:has(input:focus-visible) {
		outline: 1px solid #222;
	}

	input {
		position: absolute;
		z-index: -10;
		opacity: 0;
		pointer-events: none;
	}

	input:checked ~ .checkbox__checkmark {
		background-color: #31aff5;
	}

	&__checkmark {
		position: relative;

		display: block;
		flex-shrink: 0;
		width: 14px;
		height: 14px;
		border-radius: 5px;

		border: 1px solid rgba(0, 0, 0, 0.1);
		background-color: #fff;

		&::before {
			content: '';
			position: absolute;
			@include center;

			width: 8px;
			height: 6px;

			background-image: url('../img/svg/check.svg');
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}

	&__text {
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 11px;
		line-height: 135%;
		color: #000;
	}
}
