.footer {
	height: 60px;
	position: fixed;
	z-index: 60;
	bottom: 0;
	left: 0;
	right: 0;

	box-shadow:
		4px 4px 10px 0 rgba(0, 0, 0, 0.05),
		-4px -4px 10px 0 rgba(0, 0, 0, 0.05);
	background-color: #f9f9f9;

	&__container {
	}

	&__inner {
		padding: 10px 0;
		overflow-x: auto;
	}
}

.nav-menu {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
	&__item {
		flex-grow: 1;
	}

	&__link {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5px;

		font-weight: 600;
		font-size: 11px;
		line-height: 135%;
		text-align: center;
		color: rgba(0, 0, 0, 0.5);
		transition: color 150ms ease-in-out;
		&.active {
			color: #31aff5;
		}
	}
}
.list-reset {
}
