.logo {
	display: block;
	img {
		width: 24px;
		height: 30px;
		object-fit: cover;
	}
}

.header {
	position: relative;
	z-index: 120;
	background-color: #fff;

	&--fixed {
		position: fixed;
		z-index: 5;
		left: 0;
		top: 0;
		width: 100%;
	}

	&--border {
		.header__inner {
			border-bottom: 1px solid rgba(0, 0, 0, 0.05);
		}
	}

	&__inner {
		padding: 10px 0;
		height: 52px;

		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__title {
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;

		display: block;
		font-weight: 700;
		font-size: 17px;
		text-align: center;
		max-width: 216px;
		@include text-shorten(1);
	}

	&__actions {
		display: flex;
		gap: 18px;
	}

	&__filter-btn {
		transition: color 150ms ease-in-out;
		color: #000;

		&.active {
			color: #31aff5;
		}
	}

	&__notice-btn {
		transition: color 150ms ease-in-out;
		color: #000;

		&.active {
			color: #31aff5;
		}
	}
}
