.logo {
	display: block;
}

.header {
	position: relative;
	padding: 10px 0;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__title {
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;

		display: block;
		font-weight: 700;
		font-size: 17px;
		text-align: center;
	}

	&__actions {
		display: flex;
		gap: 18px;
	}

	&__filter-btn {
		transition: color 150ms ease-in-out;
		color: #000;
		@include hover {
			color: #31aff5;
		}
		&.active {
			color: #31aff5;
		}
	}

	&__notice-btn {
		transition: color 150ms ease-in-out;
		color: #000;
		@include hover {
			color: #31aff5;
		}
		&.active {
			color: #31aff5;
		}
	}
}
