@use '../../helpers/mixins' as *;
.order-page {
	&__text-block {
		margin-bottom: 30px;
	}

	&__btn-group {
		display: flex;
		gap: 10px;
	}

	&__btn {
		width: 100%;
		margin-bottom: 40px;

		padding: 10px 15px;
		border-radius: 5px;
		background: #f1f1f1;
		width: 100%;
		font-weight: 500;
		font-size: 13px;
		line-height: 135%;

		&.disabled {
			color: rgba(0, 0, 0, 0.5);
		}

		&.done {
			background-color: #25c525;
			color: #fff;
		}

		&:active {
			scale: 0.99;
		}
	}
}

.order-info {
	margin-bottom: 40px;

	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	&__title {
		margin-bottom: 14px;

		font-weight: 700;
		font-size: 17px;
		letter-spacing: -0.01em;
	}

	&__stats {
		margin-bottom: 20px;
	}

	&__text {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 14px;
		line-height: 136%;
		color: #000;
	}
}

.order-chat {
	&__title {
		margin-bottom: 20px;

		font-family: var(--font-family);
		font-weight: 700;
		font-size: 15px;
		letter-spacing: -0.01em;
		color: #000;
	}
}

.chat-card {
	padding: 20px 15px;
	display: flex;
	align-items: center;
	gap: 22px;

	border-radius: 5px;
	box-shadow:
		4px 4px 10px 0 rgba(0, 0, 0, 0.05),
		-4px -4px 10px 0 rgba(0, 0, 0, 0.05);
	background: #fff;

	&__img {
		flex-shrink: 0;
		width: 46px;
		height: 46px;
		border-radius: 50%;
		object-fit: cover;
	}

	&__content {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 6px;
	}

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__title {
		font-weight: 600;
		font-size: 12px;
		line-height: 135%;
	}

	&__date {
		font-weight: 500;
		font-size: 12px;
		line-height: 135%;
		color: rgba(0, 0, 0, 0.4);
	}

	&__text {
		max-width: 180px;

		font-weight: 400;
		font-size: 12px;
		line-height: 125%;
		@include text-shorten(2);
	}

	&__counter {
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 12px;
		line-height: 135%;
		color: #fff;
		width: max-content;
		border-radius: 50%;
		padding: 2px 8px;
		background: linear-gradient(39deg, #0974c5 0%, #4bb1fe 100%);
	}
}
